.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing:border-box;
  background-color:white;
  color:black;
  border-radius: 12px;
  width:80%;
}
.card {
  margin: 0 auto;
}
h1{
    text-align:center;
    background-color:aqua;
    padding:10px 0;
}
img{
    border-radius:12px;
}
.content{
  font-weight: bold;
}