h3{
    color:Black;
    background-color:deepskyblue;
    width:40%;
    padding:10px 0;
    text-align: center;

}
.forComments{
    color:indianred;                                                                    
}